.jogo .card {
  padding: 10px;
  margin: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 160px;
  border-radius: 20px 20px 20px 20px;
  user-select: none;
}

.jogo {
  align-items: center;
  padding: 10px;
  /* margin: 10px; */
  /* top: 24px; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  background-color: #3a3a3a;
}

.jogo .card img {
  width: 240px;
  height: 180px;
  border-radius: 30px 30px 30px 30px;
}

.jogo .card,
.jogo .virado {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.jogo .card {
  background-color: #c4c4c4;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card.flip[data-nome="Alcatraz"],
.card.flip[data-nome="Alcatraz"] img {
  background-color: #84cffa;
}

.card.flip[data-nome="Cagarra"],
.card.flip[data-nome="Cagarra"] img {
  background-color: #FA8484;
}

.card.flip[data-nome="Fragata"],
.card.flip[data-nome="Fragata"] img {
  background-color: #E984FA;
}

.card.flip[data-nome="Gongon"],
.card.flip[data-nome="Gongon"] img {
  background-color: #84FAAC;
}

.card.flip[data-nome="JoaoPreto"],
.card.flip[data-nome="JoaoPreto"] img {
  background-color: #8684FA;
}

.card.flip[data-nome="Pedreirinho"],
.card.flip[data-nome="Pedreirinho"] img {
  background-color: #F7FA84;
}

.card.flip[data-nome="PedreiroAzul"],
.card.flip[data-nome="PedreiroAzul"] img {
  background-color: #affa84;
}

.card.flip[data-nome="Pedreiro"],
.card.flip[data-nome="Pedreiro"] img {
  background-color: #fac984;
}

.card.flip[data-nome="RaboDeJunco"],
.card.flip[data-nome="RaboDeJunco"] img {
  background-color: #fa9484;
}
/* novas */

.frente,
.verso {
  width: 300px;
  height: 100px;
  padding: 10px;
  position: absolute;
  backface-visibility: hidden;
}

.frente {
  transform: rotateY(180deg);
}
